<% @page_title = "Add Artist" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

	<div class="artists new">
		<h2>ADD Artist</h2>

		<%= form_for(:artist, :url => {:action => 'create'}) do |f| %>

		<%= render(:partial => "form", :locals => {:f => f}) %>

		<div class="form-buttons">
			<%= submit_tag("Add Artist") %>
		</div>

		<% end %>

	</div>