<% @page_title = 'Edit Admin User' %>

<%= link_to("<<Back To List", {:action => 'index'}, :class => 'back_link') %>

<div class="user edit">
	<h2>Edit Admin User</h2>

	<%= form_for(:admin_user, :url => {:action => 'update', :id => @admin_user.id}) do |f| %>

		<%= render(:partial => 'form', :locals => {:f => f}) %>

		<div class="form-buttons">
			<%= submit_tag('Update Admin User') %>
		</div>

	<% end %>
</div>
