<div class="intro"><h1>Welcome...</h1>
<h2>This application documents (almost) every song I have recorded to date.</h2>
<h3>From the garages in Northern California, to the Sunset Strip, to stages in Japan, Canada and all over the US. In recording studios both professional and personal, music has always been a part of me. I've never been as good at playing other people's music as I am at writing my own. I decided to code a little app that would help me keep track of at least the better portion of it. And I ain't done yet....</h3></div>
<!--<div class="t-hall-13-images">-->
<div class="logo"><%= image_tag('t-hall-13 Yataghan font.jpg', :size => '280 x 620', :alt => '<t-h@ll-13>') %></div>

<div class="pic"><%= image_tag('me.jpg', :size => '280 x 620', :alt => '<t-h@ll-13>') %></div>

<!--</div>-->
