<!DOCTYPE html>
<html>
	<head>
		<%= stylesheet_link_tag('application', :media => 'all') %>
	  <title>T Hall Discography | <%= @page_title || "Admin"%></title>
	</head>
	<body>
		<div id="header">
			<h1>Tim Hall Discography Admin<h1>
		</div>
		<!--before yield-->
		<div id="main">
				<% if !flash[:notice].blank? %>
					<div class= "notice">
						<%= flash[:notice] %>
					</div>
				<% end %>
			<div id="content">
				<%= yield %>
			</div>
		<!--after yield-->
		</div>
		<div id="footer">
			<p id="copyright">&copy; 2014 T.Hall</p>
		</div>
	</body>
</html>