<!DOCTYPE html>
<html>
	<head>
	  <title>T Hall Discography</title>
	  <%= javascript_include_tag('public') %>
	</head>
	<body>
		<!--before yield-->
		<%= yield %>
		<!--after yield-->

	</body>
</html>
